__pycache__/
*.egg-info/
*.spec
*.log
*.db
*.sqlite
*.pypackage
*.egg
*.pyc
*.pyo
.DS_Store
.env
.env.example
.env.local
.env.local.example
.env.development.local
.env.production.local
.env.test.local
.env.local
*/venv
dedrone-data/*
*/Site1*_DJI_Data.csv
*/Site1.csv